body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9ccb3; /* Définir la couleur de fond en beige */
    text-align: center;
    
}
.container {
    margin: 0 auto; /* Centrer horizontalement */
    max-width: 450px;
    text-align: left; /* Alignement du texte à gauche */
    padding: 20px; /* Ajout de rembourrage pour l'espace autour du contenu */
    background-color: #e4c281;
}
.hidden {
    display: none;
}