body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9ccb3; /* Définir la couleur de fond en beige */
    text-align: center;
    
}

.container {
    display: flex;
    justify-content: center;
    padding: 1%; /* Ajout de rembourrage pour l'espace autour du contenu */
    background-color: #e4c281;
    
}

.button-wrapper {
    display: flex;
    max-width: 450px;
    text-align: center;
}

.button-wrapper button {
    margin: 0 50% /* Ajoute une marge horizontale entre chaque bouton */
    
}

.button-wrapper button:first-child {
    margin-left: 50%;
}

/* Retirer la marge à droite du dernier bouton */
.button-wrapper button:last-child {
    margin-right: 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permettre le passage à la ligne si nécessaire */
    margin: 0 auto; /* Centrer horizontalement */
}

button {
    font-size: 150%;
    padding: 5% 10%; /* Espacement à l'intérieur du bouton */
}

.hidden {
    display: none;
}