body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9ccb3; /* Définir la couleur de fond en beige */
    text-align: center;
    
}

.container {
    display: flex;
    justify-content: center;
    padding: 1%; /* Ajout de rembourrage pour l'espace autour du contenu */
    background-color: #e4c281;
    
}
.button-text /* premier texte sous le bouton */{
    display: none; /* Texte caché initialement */
    max-width: 100%; /* Définir la largeur maximale du texte */
    margin: 0 auto; /* Centrer le texte horizontalement */
    margin-left: 0%; /* Appliquer le même décalage que le bouton */
    text-align: left;
    margin-top: 3%;
}
.button-text2 /* deuxième texte sous le bouton 2 */{
    display: none; /* Texte caché initialement */
    max-width: 100%; /* Définir la largeur maximale du texte */
    margin: 0 auto; /* Centrer le texte horizontalement */
    margin-left: 0%; /* Appliquer le même décalage que le bouton */
    text-align: left;
    margin-top: 3%;
}
.button-text3 /* troisième texte sous le bouton 3*/{
    display: none; /* Texte caché initialement */
    max-width: 100%; /* Définir la largeur maximale du texte */
    margin: 0 auto; /* Centrer le texte horizontalement */
    margin-left: 0%; /* Appliquer le même décalage que le bouton */
    text-align: left;
    margin-top: 3%;
}

.show-text {
    display: block; /* Afficher le texte */
}

.button-container /* premier bouton */ {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer le contenu horizontalement */
    margin-left: 0%; /* Décalage vers la gauche */
    width: 300px; /* Largeur fixe pour chaque conteneur de boutons */
}
.button-container2 /* deuxième bouton */ {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer le contenu horizontalement */
    margin-left: 10%; /* Décalage vers la gauche */
    width: 300px; /* Largeur fixe pour chaque conteneur de boutons */
}
.button-container3 /* troisième bouton */ {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer le contenu horizontalement */
    margin-left: 10%; /* Décalage vers la gauche */
    width: 300px; /* Largeur fixe pour chaque conteneur de boutons */
}
.custom-button /* design du premier bouton */{
    font-size:150%; /* Augmenter la taille du bouton */
    padding: 10px 20px; /* Augmenter le rembourrage */
    align-self: flex-start; /* Aligner le bouton à gauche */
}
.custom-button2 /* design du deuxième bouton */{
    font-size:150%; /* Augmenter la taille du bouton */
    padding: 10px 20px; /* Augmenter le rembourrage */
    align-self: flex-start; /* Aligner le bouton à gauche */
}
.custom-button3 /* design du troisième bouton */{
    font-size:150%; /* Augmenter la taille du bouton */
    padding: 10px 20px; /* Augmenter le rembourrage */
    align-self: flex-start; /* Aligner le bouton à gauche */
}
.button-wrapper {
    display: flex;
    justify-content: space-around; /* Répartir les boutons équitablement sur la ligne */
}