body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9ccb3; /* Définir la couleur de fond en beige */
}

.header {
    position: fixed; /* Fixe l'élément par rapport à la fenêtre du navigateur */
    top: 0; /* Aligne l'élément en haut de la fenêtre */
    width: 100%; /* Définit la largeur de l'élément sur 100% de la fenêtre */
    background-color: #d8ba83; /* Couleur de fond */
    margin-top: 0; /* Ajustez cette valeur selon vos préférences */
    text-align: center;
    padding-top: 40px; /* Ajoute de l'espace entre le haut de la fenêtre et le titre */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    margin-bottom: 20px; /* Ajout d'un espacement entre les éléments de liste */
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 30px;
    border-radius: 200px;
    display: block;
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    
    
}


nav ul li a:hover {
    background-color: #E6DAC6;
}

/* Couleurs spécifiques pour chaque lien */
nav ul li:nth-child(1) a {
    background-color: #e4c281;
}

nav ul li:nth-child(2) a {
    background-color: #d191d1;
}

nav ul li:nth-child(3) a {
    background-color: #8cc2d4;
}

nav ul li:nth-child(4) a {
    background-color: #91c591;
}