body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9ccb3; /* Définir la couleur de fond en beige */
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px; /* Ajout de rembourrage pour l'espace autour du contenu */
    background-color: #e4c281;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    margin-bottom: 20px; /* Ajout d'un espacement entre les éléments de liste */
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 30px;
    border-radius: 200px;
    display: block;
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    
    
}


nav ul li a:hover {
    background-color: #E6DAC6;
}

/* Couleurs spécifiques pour chaque lien */
nav ul li:nth-child(1) a {
    background-color: #e4c281;
}

nav ul li:nth-child(2) a {
    background-color: #d191d1;
}

nav ul li:nth-child(3) a {
    background-color: #8cc2d4;
}

nav ul li:nth-child(4) a {
    background-color: #91c591;
}